<route>
  <!--
  # route tag
  This is a part of ikki project
  http://cognitom.github.io/ikki/
  -->

  <section if={ show }><yield /></section>

  <script>
    var self = this
    self.show = false

    function match(route, actual) {
      route = route.replace(/^\//, '')
      if ('*' == route) return {}
      var vs = []
      var re = route.replace(/(^|\/):([^\/]+)/g, function(_, b, p) {
        vs.push(p)
        return b + '([^/]+)'
      })
      var ms = actual.match(new RegExp('^' + re + '$'))
      if (!ms) return null

      var param = {}
      vs.map(function(v, i) { param[v] = ms[i+1] })
      return param
    }

    self.on('update', function() {
      var path = self.parent.path
      var query = self.parent.query
      var param
      self.show = !self.parent.found &&
                  (param = match(opts.path, path)) !== null
      param = param || {}

      if (!self.show) return

      if (opts.redirect) {
        // redirect
        if (/^http/.test(opts.redirect)) location.href = opts.redirect
        else location.hash = opts.redirect
      } else {
        // tell descendants
        var args = { path: path, query: query, param: param};
        self.trigger('urlchanged', args);
        this.opts.onactivate && this.opts.onactivate(args);
        self.parent.found = true
      }
    })
  </script>

</route>
