<route>
  <!--
  # route tag
  This is a part of ikki project
  http://cognitom.github.io/ikki/
  -->

  <section if={ show }><yield /></section>

  <script>
    var self = this
    self.show = false

    function match(route, actual) {
      route = route.replace(/^\//, '')
      if ('*' == route) return {}
      var vs = []
      var re = route.replace(/(^|\/):([^\/]+)/g, function(_, b, p) {
        vs.push(p)
        return b + '([^/]+)'
      })
      var ms = actual.match(new RegExp('^' + re + '$'))
      if (!ms) return null

      var param = {}
      vs.map(function(v, i) { param[v] = ms[i+1] })
      return param
    }

    self.on('update', function() {
      var path = self.parent.path
      var query = self.parent.query
      var param
      self.show = !self.parent.found &&
                  (param = match(opts.path, path)) !== null
      param = param || {}

      if (!self.show) return

      if (opts.redirect) {
        // redirect
        if (/^http/.test(opts.redirect)) location.href = opts.redirect
        else location.hash = opts.redirect
      } else {
        // tell descendants
        self.trigger('urlchanged', { path: path, query: query, param: param})
        self.parent.found = true
      }
    })

    // (grand) parent scope emulation
    self._ownPropKeys = []
    self._ownOptsKeys = []
    for (var k in self) self._ownPropKeys[k] = true
    for (var k in self.opts) self._ownOptsKeys[k] = true

    self.on('update', function() {
      var granpa = this.parent.parent
      if (granpa) {
        for (var k in granpa)
          if (!this._ownPropKeys[k]) this[k] = granpa[k]
        for (var k in granpa.opts)
          if (!this._ownOptsKeys[k]) this.opts[k] = granpa.opts[k]
      }
    })
  </script>

</route>
